<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5qeurT0OwlyVT411Nhv8gFtQAYtTBd-o</string>
	<key>GCM_SENDER_ID</key>
	<string>332804507206</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notesApps</string>
	<key>PROJECT_ID</key>
	<string>dbnotes-86d2c</string>
	<key>STORAGE_BUCKET</key>
	<string>dbnotes-86d2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332804507206:ios:97eeabdfbef84e8962ec47</string>
</dict>
</plist>